.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #f9fafb;
  width: calc(100% - 17px);
  box-sizing: border-box;
}

.footer ul {
  display: flex;
  width: 100vw;
  list-style-type: none;
  margin: 0 2px;
}

.footer ul li {
  margin: 0 13px;
  color: #808080;
  font-size: 14px;
  cursor: pointer;
}

.footer ul li:hover {
  color: #000;
}

.footer_left {
  direction: ltr;
}
